@font-face {
    font-family: 'Comfortaa';
    src: url('./fonts/comfortaa.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

:root {
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin:0;
    font-family: 'Comfortaa', cursive;
    height: 200vh;
    color: white;
    background: #0a192f;
}

body::-webkit-scrollbar {
    width: 0.50rem;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: #23FEB2;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color:white;
    transition: 0.4s;
}

a:hover {
    color:#23FEB2;
    cursor: pointer;
}

.none {
    display: none
}